
*{
    box-sizing: border-box;
}


body, html{
    height: 100%;
    
}
.hidden{
    display: none;
}

.detailsedit{
    display: flex;
    flex-direction: column;

}

body{
    font-size: 20px;
    font-family: 'Caesar Dressing', cursive;
    margin: 0px;
}

.background{
    background-image: url(images/lion.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center ;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    overflow-y: auto;
    width: 100vw;
}


form{
    font-family: 'Caesar Dressing', cursive;
    margin-left: 160px;
}

section{
    font-family: 'Caesar Dressing', cursive;
}

button{
    font-family: 'Caesar Dressing', cursive;
    
}

input{
    font-family: 'Caesar Dressing', cursive;
}

header{
    flex-direction: column;
  
}

h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 40px;
    color:gold;
}
header, p{
    color: gold;
}

section, h2{
    font-size: 30px;
    margin-left: 10px;
    color: bisque;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: underline;
    
}
#back-button{
    font-size: 40px;
    margin-left: 200px;
    margin-top: 20px;
    background-color: black;
    color: gold;
    border-radius: 10px;
    border-color: gold;
    position: fixed;
    left: 20%;
}

.nicelook{
    margin-bottom: 60px;
    color: gold;
    margin-left: 60px;
    font-weight: bold;
    background-color: rgba(153, 152, 152, 0.8);
   margin-right: 10px;
   padding: 10px 10px;
   text-decoration: none;
   border-radius: 10px;
   word-wrap: break-word;
}

a:link{
    color: green;
}

a:visited{
    color: greenyellow;
}
a:hover{
    color: lightgreen;
}
a:active{
    color: yellow;
}

ul li h3 button{
    color: greenyellow;
    background-color: black;
    border-color: greenyellow;
    border-radius: 7px;
    text-align: left;
}

#js-form input.press{
    border-radius: 3px;
    border-color: black;
    background-color: gold;
}

p{
    margin-top: 0px;
}

.homeDiv{
    margin-left: 160px;
    justify-content: center;
}

.nicelook{
    font-size: 23px;
    margin-top: 40px;
}








@media all and (min-width: 800px){
    html{
        height: 100%;
    }
   body{ font-size: 20px;
    font-family: 'Caesar Dressing', cursive;
    flex-direction: row;
    height: 100%;
    margin: 0px;
   }

   .hidden{
       display: none;
   }
   .homeDiv{
       margin-left: 480px;
       padding-top: 0px;
   }

   .detailsedit{
       display: flex;
       flex-direction: row;
   }

  #js-form input.city{
    background-color:white;
    width: 170px;
    font-size: 20px;
    border-radius: 7px;
    height: 40px;
    align-items: center;
   
    
    
   }

   #js-form input.press{
       border-radius: 7px;
       background-color: black;
       font-size: 20px;
       color: gold;
       border-color: gold;
       align-items: center;
       width: 160px;
       height: 40px;
       
   }

   h1{
       font-size: 80px;
       color: gold;
       letter-spacing: 10px;
       align-items: center;
       text-align: left;
      flex-basis: auto;
      align-self: auto;
   }
   p{
       padding-bottom: 0px;
       margin-top: 0px;
       padding-left: 90px;
      color: gold;
      font-size: 25px;
      text-align: left;
      
   }
   header{
       padding-top: 50px;
       padding-bottom: 0px;
       margin-top: 100px;
       align-content: flex-start;
   }

   form{
       margin-left: 480px;
       padding-left: 70px;
   }

   
   .nicelook{
       font-size: 50px;
       margin-top: 90px;
       background-color: rgba(153, 152, 152, 0.8);
       margin-bottom: 2700px;
       padding: 20px 20px;
       border-radius: 15px;
       margin-right: 30px;
       color: green;
       
       
      
   }

   a:link{
       color: green;
   }

   a:visited{
       color: greenyellow;
   }
   a:hover{
       color: lightgreen;
   }
   a:active{
       color: yellow;
   }

   h2{
       color: gold;
       padding-left: 25px;
       font-size: 45px;
       margin-top: 85px;
      
   }
  button{
      font-size: 20px;
  }

  ul li h3 button{
      color: red;
      background-color: black;
      border-color: red;
      border-radius: 10px;
      text-align: left;
  }

  #back-button{
      margin-left: 22px;
      margin-top: 22px;
      font-size: 40px;
      position: static;
  }
   
   .background{
    background-image: url(images/lion.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center ;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    overflow-y: auto;
    width: 100vw;   
}
}

